@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: lightgray;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  row-gap: 100px;
}

body form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 6px;
  flex-direction: column;
  padding: 20px;
}

body form h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

body form .con {
  display: flex; 
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

body form .con input[type="checkbox"] {
  display: block;
}
body form .con input[type="text"] {
  padding-left: 4px;
}

body form .con .qn *{
  margin-bottom: 10px;
}

body form .con .ans * {
  margin-bottom: 10px;
}

.msg {
  font-size: 14px;
  margin-bottom: 10px;
}